@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Forum';
	src: url('/assets/fonts/Forum-Regular.ttf');
}

@font-face {
	font-family: 'Noto-Sans-Japanese';
	src: url('/assets/fonts/NotoSansJP-Regular.otf');
}

@font-face {
	font-family: 'Playfair-Display';
	src: url('/assets/fonts/PlayfairDisplaySC-Regular.ttf');
}

@layer components {
	.top-nav-link {
		@apply hover:bg-darkblue hover:text-offwhite transition text-xl px-2 py-1;
	}
}
